@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

#imagen:hover #like {
  height: 100%;
}

#tabla-factura {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

#tabla-factura th,
td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

#tabla-factura th {
  background-color: #f7f7f7;
  font-weight: bold;
}
